body {
    background: none repeat scroll 0 0 #EEEEE3;
    font: 14px/18px Georgia,"Cambria",serif;
}

a {
    color: #339933;
}

a {
    cursor: pointer;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    font-weight: normal;
}

#sidebar {
    background: url(../img/black-bg-5.png);
    float: left;
    padding: 5px;
    margin-top: 10px;
    width: 300px;
}

#sitenav-wrapper {
    background: url(../img/sitenav-bg.png) center bottom repeat-x #339933;
    color: #fff;
}

#sitenav-wrap {
    line-height: 35px;
}

#discussion {
    width: 1070px;
    padding: 15px;
    background: none repeat scroll 0 0 #FFFFFF;
}

.wrap {
    position: relative;
    margin: 0 auto;
}

.xxw8 {
    width: 940px;
    overflow: hidden;
}

.xxw7 {
    width: 820px;
}

.xcw8 {
    width: 1100px;
}

#content-wrap {
    background: url(../img/black-bg-5.png);
}

#content-wrap {
    padding: 20px 15px;
}

#tagline {
    font-style: italic;
}


#code {
    width: 730px;
    height: 300px;
    border: 1px solid black;
}

#sidebar .help-title {
    font-size: 22px;
}

#sidebar div.title {
    margin: 10px 0px 5px 0px;
    font-size: 15px;
}

#sidebar #examples a {
    display: block;
}

.button {
    margin: 5px 0px;
}

#results {
    font-family: Arial, Helvetica, sans-serif;
}

.result {
    margin-top: 15px;
}

#results .error {
    color: Red;
}

.green-form input.error {
    border: solid 2px red;
}

table {
    border-spacing: 0px;
    font-size: 12px;
}

.data th, .data td {
    padding: 1px 5px;
    text-align: left;
    border: 1px solid black;
    white-space: nowrap;
}

.none {
    display: none;
}

.odd {
    background-color: #D8D8D8;
}

.green-form {
    background: url(../img/sitenav-bg.png) center bottom repeat-x #339933;
}

.green-form .input-text, .green-form .textarea {
    border-top: #003300 solid 1px;
    border-left: #003300 solid 1px;
    border-right: #006600 solid 1px;
    border-bottom: #006600 solid 1px;
}

.green-form {
    padding: 5px;
}

.input-text, div#code {
    padding: 5px;
}

label {
    line-height: 29px;
}

.green-form label {
    display: inline-block;
    width: 100px;
}

.green-form h3 {
    padding-bottom: 0;
}

.green-form fieldset {
    padding: 5px 0;
}

.green-form h3, .green-form .checkbox-radio, .green-form .tags {
    padding-left: 10px;
}

div.help {
    font-size: 17px;
    padding-left: 12px;
    padding-bottom: 10px;
}


fieldset, h3{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 8px;
}

.green-form  .validation-error {
    border-top: #FF0000 solid 2px;
    border-left: #FF0000 solid 2px;
    border-right: #FF0000 solid 2px;
    border-bottom: #FF0000 solid 2px;
}




