@{
    ViewBag.Title = "Home";
}

    <script id="results-template" type="text/x-handlebars-template">
        {{#if errors}}
        {{#each errors}}
        <div class="error">
            {{this.message}}
        </div>
        {{/each}}
        {{else}}
    <div>
        {{table.rows.length }} Results
    </div>
        <table class="data">
            <thead>
                <tr></tr>
                <tr>
                    {{#each table.columns}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each table.rows}}
                <tr>
                    {{#each this.values}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
         {{/if}}
</script>

<div id="sitenav-wrapper" class="wrapper">
    <div id="sitenav-wrap" class="wrap xxw8">
        <span id="tagline">
            Query FlightAware FlightXML using SQL
        </span>
    </div>
</div>

<div id="content-wrap" class="wrap xxw8 xcw8">
    <div>
        <h2>Flight Query</h2>
    </div>
    <div id="discussion" class="xxw8 xcw8">
        <div style="width: 550px; float:left">
            Enter Query:
            <div>
                @using (Html.BeginForm())
                {
                    @Html.TextArea("code", null, new { @spellcheck = "false"})
                    <div>
                        <input type="submit" class="button" value="Run Query" />
                    </div>
                }
            </div>

            <div id="loading" class="none">
                <img src="@Url.Content("~/img/ajax-loader.gif")" alt="loading" />
            </div>
        </div>
        <div id="sidebar">
            <div class="green-form">
                <div class="help">FlightAware API credentials</div>
                <fieldset>
                    <label>Username:</label>
                    <input class="input-text" title="Username" id="username" name="username" type="text" value="">
                </fieldset>
                <fieldset>
                    <label>Password:</label>
                    <input class="input-text" title="Password" id="pass" name="pass" type="password" value="">
                </fieldset>
            </div>
            <div class="title">Examples</div>
            <div id="examples">
                <a href="" query="strokes">Strokes</a>
                <a href="" query="gir">Greens in regulation</a>
                <a href="" query="girBirdies">One putt birdies</a>
                <a href="" query="saves">Missed green par (Save)</a>
                <a href="" query="missedSave">Missed green bogeys</a>
            </div>
        </div>
        <div id="results" style="float:left; width:880px">

        </div>
    </div>

</div>


