@{
    ViewBag.Title = "Flight Query";
}

<script id="example-airportInfo" type="text/x-handlebars-template">
/*
* Airport Information for Austin
*/

select *
from airportinfo
where airportCode = 'kaus'
</script>
<script id="example-austinDepartures" type="text/x-handlebars-template">
/*
* Current upcoming Austin departures
*/

select *
from airlineflightschedules
where departuretime > '{{currentDate}}' and origin = 'kaus'
</script>
<script id="example-austinDeparturesFriendly" type="text/x-handlebars-template">
/*
* Current upcoming Austin departures
* joins against airportinfo to display friendly name of origin and destination
*/

select
    f.ident,
    f.departuretime,
    f.arrivaltime,
    o.name as origin,
    d.name as destination
from airlineflightschedules f
join airportinfo d on d.airportCode = f.destination
join airportinfo o on o.airportCode = f.origin
where f.departuretime > '{{currentDate}}' and f.origin = 'kaus'
</script>
<script id="example-austinDeparturesStatus" type="text/x-handlebars-template">
/*
* Current upcoming Austin departures
* joins to get flightid and uses the flightinfoex to get the status of the flight
* It uses a case statement to determine status
*/

select s.ident,
    e.origin,
    s.originCity,
    e.destination,
    s.destinationCity,
    s.filed_departuretime,
    s.estimatedarrivaltime,
    case
        when e.actualarrivaltime = -1 and e.actualdeparturetime = -1 and e.estimatedarrivaltime = -1
            then 'cancelled'
        when e.actualdeparturetime != 0 and e.actualarrivaltime = 0
            then 'enroute'
        when e.actualdeparturetime != 0 and e.actualarrivaltime != 0 and e.actualdeparturetime != e.actualarrivaltime
            then 'arrived'
        else 'not departed'
        end as status
from scheduled s
join getflightid f on f.departureTime = s.filed_departuretime and f.ident = s.ident
join flightinfoex e on e.faFlightID = f.faFlightID
where airport = "kaus" and filter = "airline"
</script>
<script id="example-historicalTrack" type="text/x-handlebars-template">
/*
* Queries enroute for flights enroute to Austin.  
* Takes 1 result from the inner query and joins to get 
* the historical track of the flight. Results 
* should update if flight is in progress.
*/

select e.ident,
    filed_departuretime,
    departureTime,
    origin,
    destination,
    h.timestamp,
    h.altitude,
    h.groundspeed,
    h.latitude,
    h.longitude
from (
    select ident, filed_departuretime
    from (
        select ident, filed_departuretime
        from enroute e
        where airport = 'kaus' and actualdeparturetime != 0 and filter = 'airline'
    ) e
    limit 1
) e
join inflightinfo i on i.ident = e.ident
join gethistoricaltrack h on h.faFlightID = i.faFlightID
</script>
<script id="example-austinInbound" type="text/x-handlebars-template">
select e.ident,
    actualdeparturetime,
    filed_departuretime,
    estimatedarrivaltime,
    originCity,
    destinationCity,
    latitude,
    longitude,
    altitude
from enroute e
join inflightinfo i on e.ident = i.ident
where airport = 'kaus' and actualdeparturetime != 0 and filter = 'airline'
</script>

<script id="results-template" type="text/x-handlebars-template">
    {{#if errors}}
    {{#each errors}}
    <div class="error result">
        {{this.message}}
    </div>
    {{/each}}
    {{else}}
    {{#each tables}}
    <div class="result">
        <div>
            {{rows.length }} Results
        </div>
        <table class="data">
            <thead>
                <tr></tr>
                <tr>
                    {{#each columns}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    {{#each this.values}}
                    {{#if (isNull this)}}
                    <td>NULL</td>
                    {{else}}
                    <td>{{this}}</td>
                    {{/if}}
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/each}}
    {{/if}}
</script>

<div id="sitenav-wrapper" class="wrapper">
    <div id="sitenav-wrap" class="wrap xxw8">
        <span id="tagline">
            Query FlightAware FlightXML API using SQL
        </span>
    </div>
</div>

<div id="content-wrap" class="wrap xxw8 xcw8">
    <div>
        <h2>Flight Query</h2>
    </div>
    <div id="discussion" class="xxw8 xcw8">
        <div style="width: 760px; float:left">
            <div>Enter Query:</div>

            <div id="code">
            </div>
            <div>
                <button type="button" class="button" id="run">Run Query</button>
            </div>


            <div id="loading" class="none">
                <img src="@Url.Content("~/img/ajax-loader.gif")" alt="loading" />
            </div>
        </div>
        <div id="sidebar">
            <div class="green-form">
                <div class="help">FlightAware API credentials</div>
                <fieldset>
                    <label>Username:</label>
                    <input class="input-text" title="Username" id="username" name="username" type="text" value="">
                </fieldset>
                <fieldset>
                    <label>API Key:</label>
                    <input class="input-text" title="Password" id="pass" name="pass" type="password" value="">
                </fieldset>
            </div>
            <div class="title">Examples</div>
            <div id="examples">
                <a href="" query="example-airportInfo">Austin Airport Info</a>
                <a href="" query="example-austinDepartures">Austin Airport Departures</a>
                <a href="" query="example-austinDeparturesFriendly">Austin Airport Departures Friendly</a>
                <a href="" query="example-austinDeparturesStatus">Austin Airport Departures Status</a>
                <a href="" query="example-austinInbound">Austin Inbound Track Flights</a>
                <a href="" query="example-historicalTrack">Track One Inbound Flight</a>
            </div>
        </div>
        <div id="results" style="float:left; width:1070px; overflow-x:auto">

        </div>
    </div>

</div>


